services:
  doc:
    build:
      context: .
      dockerfile: Dockerfile
    image: sleakops/docusaurus
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    security_opt:
      - seccomp=unconfined
    cap_add:
      - SYS_PTRACE
    environment:
      - NPM_CONFIG_LOGLEVEL=warn
      - NPM_CONFIG_COLOR=false