/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4dbbff;
  --ifm-color-primary-dark: #2caeff;
  --ifm-color-primary-darker: #1ba8ff;
  --ifm-color-primary-darkest: #0090e8;
  --ifm-color-primary-light: #6ec8ff;
  --ifm-color-primary-lighter: #7fceff;
  --ifm-color-primary-lightest: #b1e1ff;
  /* --ifm-background-color: blue; */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #90cdf4;
  --ifm-color-primary-dark: #6dbdf1;
  --ifm-color-primary-darker: #5bb5ef;
  --ifm-color-primary-darkest: #269dea;
  --ifm-color-primary-light: #b3ddf7;
  --ifm-color-primary-lighter: #c5e5f9;
  --ifm-color-primary-lightest: #fafdfe;
  --ifm-background-color: #171923;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-background-color: #1a202c;
  --ifm-font-color-base: #edf2f7;

  /* Add new var because the ifm-background-color not working */
  --custom-background-color: #171923EE;
}

[data-theme="light"] {
  --ifm-breadcrumb-item-background-active: #269dea;
  --ifm-breadcrumb-color-active: #000000;
  --custom-background-color: #f5faffEE;
}

/* Sidebar */
.menu_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-Content-styles-module {
  background-color: var(--ifm-navbar-background-color);
}

[data-rmiz-modal-overlay="visible"] {
  background-color: var(--custom-background-color) !important;
}

/* Content */
html {
  background-color: var(--custom-background-color);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--ifm-navbar-background-color);
  transition: box-shadow 0.3s ease, background-color 0.5s ease;
  height: 100%;
  align-items: flex-start;
  border: 1px solid #00000060
}

.card a {
  text-align: right;
  align-self: flex-end; 
}

.card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF10;
}

.card-header {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
  color: #90cdf4;
}

.card-header h4 {
  margin: 0;
}


details {
  background: #1a202c !important;
}

summary > h3 {
  margin: 0px
}